@{
}


@model MuseumSystem.Core.ModelsDTO.PosterDTO;

<link rel="stylesheet" href="~/css/poster.css" asp-append-version="true" />

<h1 class="main__title">@Model.CurrentEvent.NameEvent</h1>

<a class="poster__museum" href="#">
    <svg class="poster-museum__icon" width="14" height="21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.28125 9.42411C9.95089 8.75446 10.2857 7.94643 10.2857 7C10.2857 6.05357 9.95089 5.24553 9.28125 4.57589C8.61161 3.90625 7.80357 3.57143 6.85714 3.57143C5.91071 3.57143 5.10268 3.90625 4.43304 4.57589C3.76339 5.24553 3.42857 6.05357 3.42857 7C3.42857 7.94643 3.76339 8.75446 4.43304 9.42411C5.10268 10.0937 5.91071 10.4286 6.85714 10.4286C7.80357 10.4286 8.61161 10.0937 9.28125 9.42411ZM13.7143 7C13.7143 7.97321 13.567 8.77232 13.2723 9.39732L8.39732 19.7634C8.25446 20.058 8.04018 20.2902 7.75446 20.4598C7.47768 20.6295 7.17857 20.7143 6.85714 20.7143C6.53571 20.7143 6.23214 20.6295 5.94643 20.4598C5.66964 20.2902 5.46429 20.058 5.33036 19.7634L0.441964 9.39732C0.147321 8.77232 0 7.97321 0 7C0 5.10714 0.669643 3.49107 2.00893 2.15178C3.34821 0.812499 4.96429 0.142856 6.85714 0.142856C8.75 0.142856 10.3661 0.812499 11.7054 2.15178C13.0446 3.49107 13.7143 5.10714 13.7143 7Z"
              fill="white"></path>
    </svg>
    <span class="poster__text">@Model.Museum.Name</span>
</a>

<section class="exhibition-detail">
    <div class="exhibition-detail__info">
        <h2 class="exhibition-detail__title">Описание</h2>
        <div class="exhibition-detail__text">
            @Model.Museum.Description
        </div>
    </div>
    <div class="exhibition-detail__wrapper-images">
        <img class="exhibition-detail__img" src="~/img/examle.jpeg" alt="">
    </div>
</section>

<section class="record">
    <h3 class="record__title">Записаться онлайн</h3>
    <ul class="record__list">
        <li class="record__item">
            <time class="record__item-date" datetime="">25 июня</time>
            <div class="record__time-wrapper">
                @foreach(var item in Model.CurrentEvent.Records)
                {
                    <button value="@item.IdRecord" class="record__time-btn">@item.dateTime</button>
                }
            </div>
        </li>

        <li class="record__item">
            <time class="record__item-date" datetime="">24 июня</time>
            <div class="record__time-wrapper">
                @foreach (var item in Model.CurrentEvent.Records)
                {
                    <button value="@item.IdRecord" class="record__time-btn">@item.dateTime</button>
                }
            </div>
        </li>
    </ul>
</section>


<div id="modal" class="modal">
    <div class="modal__wrapper">
        <button id="closebtn" class="modal__close">
            <img src="~/img/close.png" alt="закрыть">
        </button>
        <div class="modal__content">
            <h3 class="modal__title">Запись на мероприятие</h3>
            <h4 class="modal__name-event">Название мероприятия</h4>
            <div class="modal__datetime-wrapper">
                <h4 class="modal__datetime-title">Мероприятие начнется</h4>
                <time class="modal__datetime" datetime="">
                    <span id="modal_date"></span>
                    <span id="modal_time"></span>
                </time>
            </div>
            <form class="modal__form form" method="post" asp-action="Poster" asp-controller="Posters">
                <h5 class="form__title">Информация о посетителе</h5>
                <div class="form__wrapper">
                    <input value="" id="recordid" asp-for="@Model.UploadRecord.RecordId" hidden="hidden" />
                    <input asp-for="@Model.UploadRecord.LastName" required class="form__lastname" placeholder="Фамилия" type="text">
                    <input asp-for="@Model.UploadRecord.FirstName" required class="form__name" placeholder="Имя" type="text">
                    <input asp-for="@Model.UploadRecord.MiddleName" required class="form__middlename" placeholder="Отчество" type="text">
                    <input asp-for="@Model.UploadRecord.Email" required class="form__email" placeholder="E-mail" type="email">
                    <input asp-for="@Model.UploadRecord.PhoneNumber" required class="form__tel" placeholder="Номер телефона" type="number">
                    <label class="form__social-status-wrapper">
                        Формат посещения
                        <select asp-for="@Model.UploadRecord.Price" required class="form__social-status" id="">
                            <option value="@Model.CurrentEvent.FullPrice">Полный</option>
                            <option value="@Model.CurrentEvent.PreferentialPrice">Льготный</option>
                            <option value="@Model.CurrentEvent.PreferentialPrice">Для пожилых</option>
                        </select>
                    </label>
                </div>
                <input class="form__submit-btn" type="submit" name="" value="Записаться">
            </form>
        </div>
    </div>
</div>

