@{
}


@model MuseumSystem.Core.ModelsDTO.PosterDTO;

<link rel="stylesheet" href="~/css/poster.css" asp-append-version="true" />

<h1 class="main__title">@Model.CurrentEvent.NameEvent</h1>

<a class="poster__museum" href="#">
    <img src="~/img/poster-museum-icon.svg" alt="" />
    <span class="poster__text">@Model.Museum.Name</span>
</a>

<section class="exhibition-detail">
    <div class="exhibition-detail__info">
        <h2 class="exhibition-detail__title">Описание</h2>
        <div class="exhibition-detail__text">
            @Model.Museum.Description
        </div>
    </div>
    <div class="exhibition-detail__wrapper-images">
        @foreach (var image in Model.CurrentEvent.ImageEvents)
        {
            <img class="exhibition-detail__img" src="~/upload/@image.EventId/@image.NamePath" alt="">
        }
    </div>
</section>

<section class="record">
    <h3 class="record__title">Записаться онлайн</h3>
    <ul class="record__list">
        @{
            var groupedRecords = Model.CurrentEvent.Records.GroupBy(r => r.dateTime.Date);
            foreach (var group in groupedRecords)
            {
            <li class="record__item">
                <time class="record__item-date" datetime="@group.Key.ToString("yyyy-MM-dd")">@group.Key.ToString("dd MMMM")</time>
                <div class="record__time-wrapper">
                        @foreach (var item in group)
                        {
                        <button value="@item.IdRecord" class="record__time-btn">@item.dateTime.ToString("HH:mm")</button>
                        }
                </div>
            </li>
            }
        }
    </ul>
</section>


<div id="modal" class="modal">
    <div class="modal__wrapper">
        <button id="closebtn" class="modal__close">
            <img src="~/img/close.png" alt="закрыть">
        </button>
        <div class="modal__content">
            <h3 class="modal__title">Запись на мероприятие</h3>
            <h4 class="modal__name-event">Название мероприятия</h4>
            <div class="modal__datetime-wrapper">
                <h4 class="modal__datetime-title">Мероприятие начнется</h4>
                <time class="modal__datetime" datetime="">
                    <span id="modal_date"></span>
                    <span id="modal_time"></span>
                </time>
            </div>

            <form class="modal__form form" method="post" asp-action="Poster" asp-controller="Posters">
                <h5 class="form__title">Информация о посетителе</h5>
                <div class="form__wrapper">
                    <input value="" id="recordid" asp-for="@Model.UploadRecord.RecordId" hidden="hidden" />
                    <input asp-for="@Model.UploadRecord.LastName" required class="form__lastname" placeholder="Фамилия" type="text">
                    <input asp-for="@Model.UploadRecord.FirstName" required class="form__name" placeholder="Имя" type="text">
                    <input asp-for="@Model.UploadRecord.MiddleName" required class="form__middlename" placeholder="Отчество" type="text">
                    <input asp-for="@Model.UploadRecord.Email" required class="form__email" placeholder="E-mail" type="email">
                    <input asp-for="@Model.UploadRecord.PhoneNumber" required class="form__tel" placeholder="Номер телефона" type="number">
                    <label class="form__social-status-wrapper">
                        Формат посещения
                        <select asp-for="@Model.UploadRecord.Price" required class="form__social-status" id="">
                            <option value="@Model.CurrentEvent.FullPrice">Полный</option>
                            @if(Model.CurrentEvent.PreferentialPrice != null)
                            {
                                <option value="@Model.CurrentEvent.PreferentialPrice">Льготный</option>
                            }
                            @if (Model.CurrentEvent.RetirementPrice != null)
                            {
                                <option value="@Model.CurrentEvent.RetirementPrice">Для пожилых</option>
                            }
                        </select>
                    </label>
                </div>
                <input class="form__submit-btn" type="submit" name="" value="Записаться">
            </form>
        </div>
    </div>
</div>

<script src="~/js/poster.js" asp-append-version="true"></script>
